#main-container{
    display: flex;
    flex-direction: column;
    padding: 36px;
    align-content: start;
    justify-content: start;
}

#input-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 36px 0px;
}

#submit-user-location-btn{
    margin: 0px 12px;
}

/* reset form default styles */
form {
    padding: 0;
    margin: 0;
}

#location-form label
, #unit-toggle-container label{
    display: inline-block;
    width: 100px;
}

#location-form input
, #unit-toggle-container select {
    display: inline-block;
    width: 200px;
}

th, td{
    text-align: left;
    width: 100px;
}

td:nth-child(2){
    width: 200px;
}